URL_DATABASE=<link do banco de dados na nuvem ou local>
AUTH_KEY=<chave 32 bytes aleatoria criada com o comando "python -c "import secrets; print(secrets.token_hex(32))"">
ALGORITHM_JWT=<qualquer algoritimo suportado pelo PyJWT. Como HS256, RS256, ES256, HS512 etc.>